@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 15px;
  /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* Dark background */
  border-radius: 2px;
  margin-top: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  /* Dark gray thumb */
  border-radius: 2px;

}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
  /* Slightly lighter on hover */
}

/* Optional: Hide scrollbar until hovered */
.custom-scrollbar::-webkit-scrollbar {
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  opacity: 1;
}